@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&display=swap');
# {
    box-sizing: border-box;
}
}

.content {
    background-image: url(../../public/images/joanna-kosinska-Prfs32wh-o4-unsplash.jpg);
    
}

/* Menu superior horizontal*/
.menu ul {
    padding:0px;
    margin:15px;
    background-color:#FFFFFF;
    list-style:none;
}

.menu ul li { 
    display: inline; 
}

.menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#E7C512;
    color: #FFFFFF;
    text-decoration: none;
    border-bottom:3px solid #E7C512;
    border-radius: 1px;
    text-transform: uppercase;
    border: 2px solid #0000;    
}

.menu ul li a:hover {
    background-color:#FFFFFF;
    color: #6D6D6D;
    border: 2px solid #E7C512;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat';
    
}

/* Banner */
.banner {
    display: flex;
    justify-content: center;
    height: 400px;
    padding: 60px;
    background: url(../../public/images/banner.png) no-repeat center; 
    background-size: cover;
}

.banner_text {
    padding: 50px;
    justify-content: center;
}

.banner h2 {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Montserrat'; 
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;  
    margin-top: 60px;  
}

.banner h3 {
    font-size: 70px;
    font-family: 'Montserrat';
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 60px;
}

/* Nome da receita */
.nome_receita{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    width: auto;
}

/* Formulário nome da receita */
.digite_nome_aqui {
    display: flex;
    justify-content: center;
 }

 .digite_nome_aqui input {
    padding: 20px;
    width: 35%;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #000000;
    background-color: #C4C4C4;
    text-align: center;
 }

/* Adicione Fotos ou vídeos */
.destaque {
    display: flex;
    justify-content: center;
    align-content: center;
    max-height: 700px;
    margin-top: 1%;
}

.texto_destaque {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 40px;
    margin-top: 100px;
    height: 600px;
    width: 30%;
    font-weight: bold;
    padding-top: 150px;
}

.imagem_destaque {
   width: 600px;
   height: 500px;
   margin: 100px;
   background-image: url(../../public/images/mateusz-feliksik-QRAF7Yuh4x4-unsplash.jpg);
   -webkit-box-shadow: 53px 53px 0px -30px rgba(183, 102, 27, 1);
   -moz-box-shadow:    53px 53px 0px -30px rgba(183, 102, 27, 1);
   box-shadow:         53px 53px 0px -30px rgba(183, 102, 27, 1);
   background-size: cover;
}

.send_image {
    display: flex;
    justify-content: center;
    margin: 0px 0px 50px 0px;
}

.send_image input {
    width: 280px;
}

/* ingridentes para preparo */
.ingredientes h2 {
    max-width: auto;
    background-color: #E7C512;
    font-family: 'Montserrat';
    font-size: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px 0px 20px 50px;
}

.ingredientes input {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0% 20px 2% ;
    padding: 5px;
    width: 95%;
    border-bottom: solid #000000 1px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

.ingredientes input:focus {
    border-bottom: solid #000000 1px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

.modo_de_preparo h2 {
    max-width: auto;
    background-color: #E7C512;
    font-family: 'Montserrat';
    font-size: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 20px 0px 20px 50px;
}

.modo_de_preparo textarea {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    margin: 2%;
    padding: 30px;
    font-weight: bold;
}

/* botões de interação */
.interacao{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat';
    margin-bottom: 2%;
}

.interacao ul {
    padding:0px;
    margin:15px;
    background-color:#FFFFFF;
    list-style:none;
}

.interacao ul li {
    display: inline;    
}

.interacao ul li a:hover {
    background-color:#FFFFFF;
    color: #6D6D6D;
    border: 2px solid #E7C512;
}

.interacao ul a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#E7C512;
    color: #FFFFFF;
    text-decoration: none;
    border-bottom:3px solid #E7C512;
    border-radius: 1px;
    text-transform: uppercase;
    border: 2px solid #0000; 
}