<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Footer</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

    <footer>
        <section class="content">    
            <nav id="upperlist">
            <ul>
                <li><a href="#"><img src="/images/logo.png" alt="logotipo preto"></a></li>
                <li><a href="#">CATEGORIAS <br>DE RECEITAS</a></li>
                <li><a href="#">TOP <br>INGREDIENTES </a></li>
                <li><a href="#">MELHORES <br>RECEITAS</a></li>
                <li><a href="#">SOBRE NÓS</a></li>
                <li>
                    <a href="/login"><p id="login">LOGIN</p></a>
                    <a href="/cadastro"><p id="cadastrar">CADASTRE-SE</p></a>
                </li>
            </ul>
        </nav>

        <div id="linha">
            <!-- <p>____________________________________________________________________________________________</p> -->
            <hr>
        </div>

        <nav id="midiaList">
            <ul>
                <li>VISITE <br> NOSSAS REDES </li>
                <li><a href="https://www.instagram.com/"><img src="/images/instagram.png"></a></li>
                <li><a href="https://twitter.com/"><img src="/images/twitter.png"></a></li>
                <li><a href="https://www.youtube.com/"><img src="/images/youtube.png"></a></li>
                <li><a href="https://www.linkedin.com/"><img src="/images/linkedin.png"></a></li>
            </ul>
        </nav>
    </section>
  
</footer>
</html>