<header>
    <link rel="stylesheet" href="/public/stylesheets/header.css">
    <section class="content_h">    
        <nav id="upperlist_h">
            <ul>
                <li><a href="#"><img class="logo_h" src="/images/logo.png" alt="logotipo preto"></a></li>
                <li><a href="/lista/categoriasreceitas">CATEGORIAS <br>DE RECEITAS</a></li>
                <li><a href="/lista/">TOP <br>INGREDIENTES </a></li>
                <li><a href="/lista/melhoresreceitas">MELHORES <br>RECEITAS</a></li>
                <li><a href="/quemSomos">SOBRE NÓS</a></li>
                <li>
                    <a href="/login"><p id="login_h">LOGIN</p></a>
                    <a href="/usuario/cadastro"><p id="cadastrar_h">CADASTRE-SE</p></a>
                </li>
            </ul>   
        </nav>
    </section>
  </footer>
</html>
