<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Footer</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link href='https://css.gg/instagram.css' rel='stylesheet'>
</head>

    <footer>
        <section class="content">    
            <nav id="upperlist">
            <ul>
                <li><a href="#"><img src="/images/logo.png" alt="logotipo preto"></a></li>
                <li><a href="#">CATEGORIAS <br>DE RECEITAS</a></li>
                <li><a href="#">TOP <br>INGREDIENTES </a></li>
                <li><a href="#">MELHORES <br>RECEITAS</a></li>
                <li><a href="#">SOBRE NÓS</a></li>
                <li>
                    <a href="#"><p id="login">LOGIN</p></a>
                    <a href="#"><p id="cadastrar">CADASTRE-SE</p></a>
                </li>
            </ul>
        </nav>
    </section>
  
</footer>
</html>