<header>
    <section class="content">    
        <nav id="upperlist">
            <ul>
                <li><a href="#"><img src="/images/logo.png" alt="logotipo preto"></a></li>
                <li><a href="#">CATEGORIAS <br>DE RECEITAS</a></li>
                <li><a href="#">TOP <br>INGREDIENTES </a></li>
                <li><a href="#">MELHORES <br>RECEITAS</a></li>
                <li><a href="/quemSomos">SOBRE NÓS</a></li>
                <li>
                    <a href="/login"><p id="login">LOGIN</p></a>
                    <a href="/cadastro"><p id="cadastrar">CADASTRE-SE</p></a>
                </li>
            </ul>   
        </nav>
    </section>
</header>
