 /* RESET HTML */
html, body, figure, img, div, input, p, h1, h2, h3, h4, h5, h6, ul, li, a, main{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}

/* FONTES */

@font-face {
  font-family: southEast;
  src: url(../../assets/fonts/southEast.otf);
}
@font-face {
  font-family: Montserrat-Thin;
  src: url(../../assets/fonts/Montserrat-Thin.ttf);
}

 HEAD
/* BODY */
body{
  background-image: url("../../assets/images/heather-barnes-FaIb6he_a7Q-unsplash.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

body #principal {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body #principal img {
  margin-left: 10px;
}

/* LADO ESQUERDO */

#ladoEsq {
  width:350px;
  height:400px;
  background:#2F384F;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Montserrat-Thin;
  border-left: 10px solid #E7C512;
  border-bottom: 10px solid #E7C512 ;
}

#ladoEsq h3 {
  line-height: 0.1;
  font-style: italic;
  font-size: 20px;
  letter-spacing: -1.5%;
  line-height: 3px;
}
  
#ladoEsq h5 {
  letter-spacing: -1.5%;
  font-size: 13px;
}
#ladoEsq img {
 margin: 0 0 50px 0;
}

/* LADO DIREITO */

#ladoDir {
  width:350px;
  height:400px;
  background:#CDCDCD;
  border-top: 10px solid #E7C512;
  border-right: 10px solid #E7C512 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
#ladoDir h1 {
  margin: 0 0 50px 0;
  font-family: southEast;
  font-size: 30px;
}

#ladoDir p {
  color: #807C7C;
  font-size: 13px;
  margin-bottom: 5px;
}

/* BUTTON */

button {
  border-radius: 10px;
  background-color:#2F384F ;
  color: white;
  size: 100px;
  margin-top: 10px;
}


