<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/areaLogada.css">
    <title>Área Logada</title>
</head>
<body class="content"> 

    <h1>TESTE COMMIT</h1>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="#">Menu</a></li>
                    <li style="float: right;"><a href="#"><button class="bt1">Cadastre-se</button></a></li>
                    <li style="float: right;"><a href="#"><button class="bt2">Login</button></a></li>
                </ul>
            </nav>
        </div>
    <header>
            <section class="first-background">
                 <div class="user">
                    <h1>Área do usuário</h1>
                 </div>
                </section>
            <!-- img src="imagens/imagem-cortada.jpg" alt="background" -->
            <nav class="options">
                <ul>
                    <li class = "li-button"><a href="#"><button class = "bt" type="submit">Poste sua receita</button></a></li>
                    <li class = "li-button"><a href="#"><button class = "bt" type="submit">Ingredientes mais usados</button></a></li>
                    <li class = "li-button"><a href="#"><button class = "btsualista" type="submit">Acesse sua lista</button></a></li>
                    <li class = "li-button"><a href="#"><button class = "bt" type="submit">Suas receitas favoritas</button></a></li>
                </ul>
            </nav>
    </header>

    <section class="content"></section>
    
    <div class="images-recipes">
        <h1 class="categorias">CATEGORIAS</h1>
        <img src="imagens/adedotun-adegborioye-iLVmduqz23g-unsplash.jpg" alt="bolo" style = "width:50%;">
        <a href="#"><button class = "btd" type="submit">DOCES</button></a>
    </div>

    <div class="assados">
        <img src="imagens/hayley-ryczek-HQ22vVXhWcc-unsplash.jpg" alt="frango" style = "width:50%;">
        <a href="#"><button class = "btd2" type="submit">ASSADOS</button></a>
    </div>

    <div class="fritos">
        <img src="imagens/louis-hansel-vi0kZuoe0-8-unsplash.jpg" alt="fritos" style = "width:50%;">
        <a href="#"><button class = "btd3" type="submit">FRITOS</button></a>
    </div>

    <a href="#"><button class="mais-receitas" type="submit">Mostrar Mais Receitas</button></a>

    <div class="last-section">
        <div class = "yellow-rectangle">
            <h2>CONFIRA TAMBÉM</h2>
        </div>
        <div class="last-pic"></div>
        <div class="options-2">
            <ul>
                <li><a href="#"><button class = "bt-2" type="submit" style="margin-left: 100px;">TOP INGREDIENTS</button></a></li>
                <li><a href="#"><button class = "bt-2" type="submit" style="margin-left: 415px;">MATADORES DE LARICA</button></a></li>
                <li><a href="#"><button class = "bt-2" type="submit" style="margin-left: 725px;">TEMPO DE PREPARO</button></a></li>
                <li><a href="#"><button class = "bt-2" type="submit" style="margin-left: 1035px; padding: 25px 5px;">RECEITAS DE IMPROVISO</button></a></li>
            </ul>
        </div>
    </div>
</body>
</html>
