<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/areaLogada.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <title>Área Logada</title>
</head>

<body class="content"> 

    <%- include("./partials/header")  %>
       
        <div class="cont-account">

            <div class="icon1"><img src="https://i0.wp.com/diplomartbrussels.com/wp-content/uploads/2020/09/food-background-images-94-images-in-co-381169-png-images-pngio-food-background-png-1440_619.png?fit=1440%2C619&ssl=1" alt="background-image"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
        </div>
            <h4><%=meuUsuario.nome%></h4>
            <h4 class="email"><%=meuUsuario.email%></h4>

            

            <ul class="nav-bar">
                <button class="botao"><li>Suas Receitas</li></button>
                <button class="botao"><li>Compartilhar</li></button>
                <button class="botao"><li>Salvos</li></button>
                <button class="botao"><a href="/usuario/editar/<%=meuUsuario.id%>">Alterar Dados</a> </button>
            </ul>

        </div>
 
    <!--GELADEIRA-->
    <div class="container-fluid">
        <img class="img-geladeira" src="/images/blackpie].png" alt="black-pie">
        <div class="row">
          <div class="col">
            <h1>O QUE</h1><h1>TEM NA SUA</h1><h1>GELADEIRA?</h1></button>  </a>
          </div>
          <div class="col-2">
            <div class="ingredient1"><h3>Digite seu ingrediente +</h3></div>
          </div>
        </div>
    </div>
    <!--FIM-->

    <!--CATEGORIAS-->
    <div class="containerr">
        <div class="row">
          <div class="col-sm">

            <img class="image-categorias" src="/images/anna-tukhfatullina-food-photographer-stylist-Mzy-OjtCI70-unsplash.jpg" alt="image-categorias">
            <button>DOCES</button>
          </div>
          <div class="col-sm">
            <img class="image-categorias" src="/images/frango.jpg" alt="image-categorias">
            <button>ASSADOS</button>
          </div>
          <div class="col-sm">
            <img class="image-categorias" src="/images/louis-hansel-vi0kZuoe0-8-unsplash.jpg" alt="image-categorias">
            <button>FRITOS</button>
          </div>
        </div>
      </div>

      
      <!--FIM-->
      
    </body>
      