<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/lista.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

    <title>Categorias de Receitas</title>
</head>
<body>

    <%- include('./partials/header.ejs'); %>

    <main>
        <section>
            <div class="imagem_principal">
                <img src="../assets/massas.jpg" alt="lista de massas">
                <img src="../assets/sanduiche.jpg" alt="lista de sanduiches">
            </div>
        </section>
        <section>
            <div class="posicao">
                <ol>
                    <li>1ª receita melhor avaliada</li>
                    <li>2ª receita melhor avaliada</li>
                    <li>3ª receita melhor avaliada</li>
                    <li>4ª receita melhor avaliada</li>
                    <li>5ª receita melhor avaliada</li>
                </ol>
            </div>
        </section>
    </main>

    <%- include('./partials/footer.ejs'); %>

</body>
</html>