<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Quem somos</title>
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/quemSomos.css">

    </head>

    

    <body>
               
        <section class="carrossel">
            <div class="container-img-background">
                <img class="img-background" src="/images/banner6.png" alt="IMAGEM BACKGROUND">
            </div>
            <div class="texto-centro">
                <p>QUER UMA AJUDA NO<br> RANGO DE HOJE?</p> 
            </div>
        </section>

        <section class="varios-tópicos">

            <div class="container-arroz">
                <img class="arroz-background" src="/images/background1.jpg" alt="ARROZ BACKGROUND">
                <section class="footer">
                    <section class="tópico">
                        <div class="cabeçalho">
                            <p class="primeira-frase">QUEM</p>
                            <p class="segunda-frase">SOMOS</p>
                        </div>
                        <div class="subtópico">
                            <p>Somos uma plataforma que visa<br> fornecer ferramentas de seleção de<br> ingredientes para você improvisar<br> algum prato aí da sua casa!</p>
                        </div>
                    </section>
    
                    <section class="tópico">
                        <div class="cabeçalho">
                            <p class="primeira-frase">O QUE</p> 
                            <p class="segunda-frase">FAZEMOS</p>
                        </div>
                        <div class="subtópico">
                            <p>Atalho inteligente como alternativa<br> para te ajudar a pôr a mão na massa <br>apenas com os ingredientes perdidos <br>na sua cozinha!</p>
                        </div>
                    </section>
    
                    <section class="tópico">
                        <div class="cabeçalho">
                            <p class="primeira-frase">PARA</p>
                            <p class="segunda-frase">QUEM SOMOS</p>
                        </div>
                        <div class="subtópico">
                            <p>Exclusivo para você que está com<br> fome mas quer dar uma folga do <br>delivery, para melhorar na cozinha<br> ou economizar um dinheiro.</p>
                        </div>
                    </section>
                </section>
            </div>
        </section>

    </body>
    <%- include('./partials/footer.ejs'); %>
</html>