<!DOCTYPE html>

<header>
    <%- include("./partials/header")  %> 
</header>

<head>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/shareRecipe.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- MENU -->
<body class="content"> 

<!-- BANNER -->
        <div class="banner">
            <div class="banner_text">
                <h2> <mark>Compartilhe</mark> sua receita!</h2>
            </div>             
        </div>

<!-- BOTÃO NOME DA RECEITA -->
        <div class="nome_receita"> 
            <h2> Digite o nome da <mark> sua receita </mark> </h2> 
        </div>

        <div class="digite_nome_aqui">             
            <form action="/receita/salvar" method="POST" enctype="multipart/form-data">
                <input type="text" class="digite_caixa" name="nome_da_receita" placeholder="Digite aqui" required>                        
        </div> 

<!-- ADICIONAR FOTOS E VÍDEOS -->
        <div class="destaque">
            <div class="imagem_destaque"></div>
           
            <div class="texto_destaque">
                <p> Adicone <br><mark>fotos ou <br>vídeos</mark> do<br> seu prato </p>
              <span class="btn btn-success fileinput-button">
                <input type="file" name="foto_receita" class="adicionar_foto">
            </div>

        </div>

<!-- INGREDIENTES -->
        <div class="ingredientes">
            <div>
                <h2> Adicione os ingredientes </h2>
                
                    <input type="text" name="ingredientes[0]" placeholder="Informe o nome e a quantidade do ingrediente" required>                
                    <input type="text" name="ingredientes[1]" placeholder="Informe o nome e a quantidade do ingrediente" required>                
                    <input type="text" name="ingredientes[2]" placeholder="Informe o nome e a quantidade do ingrediente" >                
                    <input type="text" name="ingredientes[3]" placeholder="Informe o nome e a quantidade do ingrediente" >                
                    <input type="text" name="ingredientes[4]" placeholder="Informe o nome e a quantidade do ingrediente" >  
                    <input type="text" name="ingredientes[5]" placeholder="Informe o nome e a quantidade do ingrediente" >       
                
            </div>
        </div>

<!-- MODO DE PREPARO -->
        <div class="modo_de_preparo">
            <div>
                <h2> Modo de Preparo </h2>
                <!-- CAIXA DE COMENTÁRIO -->
                <textarea id="modo_de_preparo" name="modo_de_preparo" rows="5" cols="100" placeholder="Corte a cebola em rodelas..." required></textarea>               
            </div>
        </div>
        <div class="salvar_receita"> 
            <button class="botao_salvar" type="submit"> Salvar receita </button>
        </div>
    </form>
    </body>

    <footer class="footer">
        <%- include("./partials/footer")  %> 
    </footer>
    
    
</html>