<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/theme.css">
    <link rel="stylesheet" href="./styles.css">

    <title>Listas</title>
</head>
<body>
    <header>
        <div class="header">
          <img src="../../assets/images/logo.png" alt="logo">
          <nav>
            <ul>
                <ul>

                    <li><a href="#"> Página Inicial </a></li>
                    <li><a href="#"> Top Ingredientes </a></li>
                    <li><a href="#"> Matadores de larica </a></li>
                    <li><a href="#"> Receitas Rápidas </a></li>                    
    
                </ul>
    
                <ul>
    
                    <li><a href="#"> Cadastro </a></li>
                    <li><a href="#"> Login </a></li>
    
                </ul>
           </ul>
          </nav>     
        </div>
    </header>
    <main>
        <section>
            <!-- <div class="img-text">
                O título precisa ser dinâmico, ou seja, vai receber o valor do card que foi clicado na pagina anterior
                <h1>Top Ingredientes</h1>
            </div> -->
            <div class="imagem-principal">
                <img src="../../assets/images/imagemFundo.jpg" alt="listas">
                <h1 class="img-text">Top Ingredientes</h1>
            </div>
        </section>
        <section class="pagina">
            <div class="ordena-cards">
                <div class="card-ordem">
                    <h2 class="h2">1</h2>
                </div>
                <div class="card">
                    <!-- <a href="#" class="card"> -->
                      <h3 class="h3">Nome da Receita</h3>
                      <h4 class="h4">Ingredientes</h4>
                      <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ullam ea illum necessitatibus animi quis facere reiciendis accusantium alias, hic doloribus eius vitae vero placeat ut error est. Cumque, perferendis!</p>
                      <span class="p">View Information
                </div>
            </div>
            <div class="ordena-cards">
                <div class="card-ordem">
                    <h2 class="h2">2</h2>
                </div>
                <div class="card">
                    <!-- <a href="#" class="card"> -->
                      <h3 class="h3">Nome da Receita</h3>
                      <h4 class="h4">Ingredientes</h4>
                      <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ullam ea illum necessitatibus animi quis facere reiciendis accusantium alias, hic doloribus eius vitae vero placeat ut error est. Cumque, perferendis!</p>
                      <span class="p">View Information
                </div>
            </div>
            <div class="ordena-cards">
                <div class="card-ordem">
                    <h2 class="h2">3</h2>
                </div>
                <div class="card">
                    <!-- <a href="#" class="card"> -->
                      <h3 class="h3">Nome da Receita</h3>
                      <h4 class="h4">Ingredientes</h4>
                      <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ullam ea illum necessitatibus animi quis facere reiciendis accusantium alias, hic doloribus eius vitae vero placeat ut error est. Cumque, perferendis!</p>
                      <span class="p">View Information
                </div>
            </div>
            <div class="ordena-cards">
                <div class="card-ordem">
                    <h2 class="h2">4</h2>
                </div>
                <div class="card">
                    <!-- <a href="#" class="card"> -->
                      <h3 class="h3">Nome da Receita</h3>
                      <h4 class="h4">Ingredientes</h4>
                      <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ullam ea illum necessitatibus animi quis facere reiciendis accusantium alias, hic doloribus eius vitae vero placeat ut error est. Cumque, perferendis!</p>
                      <span class="p">View Information
                </div>
            </div>
            <div class="ordena-cards">
                <div class="card-ordem">
                    <h2 class="h2">5</h2>
                </div>
                <div class="card">
                    <!-- <a href="#" class="card"> -->
                      <h3 class="h3">Nome da Receita</h3>
                      <h4 class="h4">Ingredientes</h4>
                      <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ullam ea illum necessitatibus animi quis facere reiciendis accusantium alias, hic doloribus eius vitae vero placeat ut error est. Cumque, perferendis!</p>
                      <span class="p">View Information
                </div>
            </div>
        </section>
    </main>

    <!-- <footer class="header">
        <div class="footer-img">
            <img src="../../assets/images/logo.png" alt="logo">
        </div>
        <div class="footer-menu">
            <h4>Menu</h4>
            <ul>
              <li><a href="#">Página Inicial</a></li>
              <li><a href="#">Matadores de larica</a></li>
              <li><a href="#">Top Ingredientes/a></li>
              <li><a href="#">Receitas Rápidas</a></li>
            </ul>
        </div>
    </footer> -->
</body>
</html>