@font-face {
    font-family: "abadi";
    src: url(./fonts/abadi-mt-std-cond-light.otf);
}

.content_f { 
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: 32vh;
    background-color: #f0f0f0;
    font-family: "abadi";
    margin-top: 100px;     
}

#upperlist_f img:hover {
    opacity: 65%;
    transition: 400ms;
}

#upperlist_f ul {
    display: flex;
    list-style:none;
    padding-top: 52px;
    justify-content: center;
    align-items: center;
}

#upperlist_f ul li {
    display: inline; 
    padding-right: 30px;
    color: black; 
    font-size: 1.1rem;
}

#upperlist_f ul li a {
    text-decoration: none;
    color: black; 
}

#upperlist_f ul li a:hover {
    color: grey;
    transition: 400ms;
}

#upperlist_f ul li img {
    width: 210px;
}

#login_f {
    background-color: #FFCC18;
    color: white;
    padding: 12px 30px;
}

#login_f:hover {
    background-color: #ffd84d;
    transition: 400ms;
}

#cadastrar_f {
    background-color: black;
    color: white;
    padding: 12px 30px;
    margin-top: 15px;
}

#cadastrar_f:hover {
    background-color: #3b3b3b;
    transition: 400ms;
}   


#linha_f {    
    padding-top: 18px;
}

#linha_f hr {
    margin: auto;
    width: 50%;
}


#midiaList_f {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-left: 450px;
}

#midiaList_f ul {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

#midiaList_f ul li {
    display: inline; 
    font-size: 1.1rem;
}

#midiaList_f ul li img {
    width: 40px;
    margin-left: 30px;
}

#midiaList_f ul li img:hover {
    opacity: 65%;
    transition: 300ms;
}



