@font-face {
    font-family: "abadi";
    src: url(../fonts/abadi-mt-std-cond-light.otf);
}


.content_h { 
   
    text-align: center;
    width: 100%;
    max-height: 200px;
    background-color: #f0f0f0;
    font-family: "abadi";
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 15px;

}

.logo_h:hover {
    opacity: 65%;
    transition: 400ms;
}

#upperlist_h ul {
    display: flex;
    list-style:none;
    justify-content: center;
    align-items: center;
}

#upperlist_h ul li {
    display: inline; 
    padding-right: 60px;
    color: black; 
    font-size: 1.2rem;
}

#upperlist_h ul li a {
    text-decoration: none;
    color: black; 
}

#upperlist_h ul li a:hover {
    color: grey;
    transition: 400ms;
}

#upperlist_h ul li img {
    width: 210px;
}

#login_h {
    background-color: #FFCC18;
    color: white;
    padding: 12px 30px;
}

#login_h:hover {
    background-color: #ffdf6c;
    transition: 400ms;
    border: solid 1px #FFCC18;
    color: #000000;
}

#cadastrar_h {
    background-color: black;
    color: white;
    padding: 12px 30px;
    margin-top: 15px;
}

#cadastrar_h:hover {
    background-color: #3b3b3b;
    transition: 400ms;
    border: solid 1px #FFCC18;
    color: #ffffff;
}   
