 /* RESET HTML */
html, body, figure, img, div, input, p, h1, h2, h3, h4, h5, h6, ul, li, a, main{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}

/* FONTES */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@font-face {
  font-family: Abadi;
  src: url(../fonts/abadi-mt-std-cond-light.otf);
}

/* BODY */

body {
  background-image: url("/images/image5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body #principal {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body #principal img {
  margin-left: 10px;
}

/* LADO ESQUERDO */

#ladoEsq {
  width:350px;
  height:400px;
  background:#000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Abadi';
  border-left: 10px solid #E7C512;
  border-bottom: 10px solid #E7C512 ;
  text-transform: uppercase;
}

#ladoEsq h3 {
  line-height: 0.1;
  font-size: 25px;
  letter-spacing: -1.5%;
  line-height: 3px;
}
  
#ladoEsq h5 {
  letter-spacing: -1.5%;
  font-size: 20px;
}
#ladoEsq img {
 margin: 0 0 50px 0;
}

/* LADO DIREITO */

#ladoDir {
  width:350px;
  height:400px;
  background:#CDCDCD;
  border-top: 10px solid #E7C512;
  border-right: 10px solid #E7C512 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
#ladoDir h1 {
  margin: 0 0 50px 0;
  font-family: 'Abadi';
  font-size: 30px;
  text-transform: uppercase;
}

#ladoDir p {
  color: #807C7C;
  font-size: 13px;
  margin-bottom: 5px;
}

/* BUTTON */

button {
  background-color: black;
  color: white;
  padding: 12px 30px;
  margin-top: 15px;
  font-family: 'Abadi';
  text-transform: uppercase;
}


