@font-face {
  font-family: Montserrat-thin;
  src: url(../../assets/fonts/Montserrat-Thin.ttf);
}

body{
  font-family: Montserrat-thin ;
}
.menu ul {
  padding:0px;
  margin:15px;
  background-color:#FFFFFF;
  list-style:none;
}

.menu ul li { 
  display: inline; 
}

.menu ul li a {
  padding: 2px 10px;
  display: inline-block;

  /* visual do link */
  background-color:#E7C512;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom:3px solid #E7C512;
  border-radius: 1px;
  text-transform: uppercase;
  border: 5px solid #0000;
  font-family: 'Montserrat',
}

.menu ul li a:hover {
  background-color:#FFFFFF;
  color: #6D6D6D;
  border-bottom:3px solid #E7C512;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.d-block{
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.carousel-caption {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}